      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <!-- <i class="glyphicon glyphicon-cog"></i> -->
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button> -->
        <!-- brand -->
        <!-- <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a> -->
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <!-- <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
          </a>
          
        </div> -->
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
          <li>
            <a ui-sref="index.portal">
                <span>地图</span>
            </a>
          </li>
          <li class="dropdown" dropdown ng-show="!isLogin">
              <a href class="dropdown-toggle" dropdown-toggle>
                  <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                  <span>所有图层</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                  <li><a >A</a></li>
                  <li>
                      <a >
                          <!-- <span class="badge bg-info pull-right">5</span> -->
                          <span>B</span>
                      </a>
                  </li>
                  <li class="divider"></li>
                  <li><a >C</a></li>
              </ul>
          </li>
        </ul>
        <!-- / link and dropdown -->

        <!-- search form -->
        <!-- <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">
          <div class="form-group">
            <div class="input-group">
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form> -->
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown pos-stc" dropdown ng-controller="tilestreamCtrl">
            <a href class="dropdown-toggle" dropdown-toggle>
              <span>TileStream图层</span> 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="layer in layers"> 

                  <button class="btn btn-default" style="width:150px" ng-class="{false:'',true:'btn-success'}[layer.loaded]" ng-click="toggleLayer($index)" title="{{layer.tip}}"> {{layer.name}}</button>
                
                  <button class="btn btn-default" ng-click="showMetadata($index)"> 查看元数据</button>
                  <button class="btn btn-default" ng-click="moveViewToLayer($index)"> 定位到图层</button>
              </li>
            </ul>
          </li>
          <li class="dropdown" dropdown ng-controller="kmlCtrl">
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span >KML</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href ng-click="showKMLPanel()">加载</a></li>
              <li>
                <a href ng-click="removeKML()">
                  <span >移除</span>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href ng-click="listKML()">
                  <span class="badge bg-danger pull-right">{{kmlSize || 0}}</span>
                  <span >列表</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown pos-stc" dropdown ng-controller="terrainCtrl">
            <a href class="dropdown-toggle" dropdown-toggle>
              <span>高程数据</span> 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="terrain in terrains">
                  <button class="btn btn-default btn-block" ng-class="{false:'',true:'btn-success'}[terrain.used]" ng-click="toggleTerrain($index,$value)"> {{terrain.name}}</button>
              </li>    
            </ul>
          </li>
          
          <li class="dropdown pos-stc" dropdown ng-controller="gridCtrl">
            <a href class="dropdown-toggle" dropdown-toggle>
              <span ng-bind="showGridTip" ng-click="toggleGrid()">显示瓦片网格</span> 
            </a>
          </li>
          
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->
  <script type="text/ng-template" id="metaDataModal.html">
    <div ng-include="'tpl/metaDataModal.html'"></div>
  </script>

  <script type="text/ng-template" id="kmlSelectModal.html">
    <div ng-include="'tpl/kmlSelectModal.html'"></div>
  </script>